@media (min-width: 1200px) {
.for_page .container {
    max-width: 1100px;
}
}

@media (max-width: 1199px) {
    .youtube {
        height: 579px;
    }
}

@media (max-width: 1013px) {
    .my_skills-container h2 {
        margin-top: 30px;
        }
        .youtube {
            height: 579px;
        }
}

@media (max-width: 991px) {
    .site_order {
    padding-top: 55px;
    padding-bottom: 55px;
    }
    .slider-carousel {
        padding-top: 40px;
    padding-bottom: 22px;
    }
    .youtube {
        height: 431px;
    }
    .parentvideo {
        padding-bottom: 50px;
        padding-top: 25px;
    }
    .work {
        padding-top: 50px;
    }
    .my_skills .wrapper {
        padding-top: 34px;
    padding-bottom: 63px;
    }
    .my_projects-container {
        padding-top: 80px;
    padding-bottom: 65px;
    }
    .about_me {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .responsive_menu {
        display: block;
    }
    .responsive_menu i {
        color: rgb(115, 139, 221);
        cursor: pointer;
        transition: 0.5s;
        font-size: 33px;
    }
    .responsive_menu i:hover {
        color: #1f3d61;
    }
    .nav-menu {
        display: none;
    }
    .parent_responsive_menu {
        display: flex;
        justify-content: space-between;
    }
    .parentTextBaner {
        margin-top: 15px;
        text-align: center;
    }
    .parentTextBaner h2 {
        line-height: normal;
    }
    .banner {
        padding: 50px 0;
    }
    .ParentGalery .fancyChild {
        width: 50%;
    }
    .my_projects-container-items {
        flex-wrap:wrap;
    }
    .my_projects-container-items .item {
        margin-bottom: 6px;
    }
    .my_projects-container-items .item:nth-child(6) {
        margin-right: 49px;
    }
    .ranges {
        width: 345px;
    }
    .my_skills {
        flex-wrap:wrap;
    }
    .wrapper {
        flex-wrap:wrap;
    }
    .my_skills-container {
        margin-bottom: 15px;
    }
}

@media (max-width: 767px) {
    .youtube {
        height: 317px;
    }
    .wrapper {
        overflow: hidden;
    }
    .my_skills-container {
        margin-left: 131px;
        
    }
    .slider-carousel .owl-carousel .owl-item img {
        margin: 0 auto;
    }
}

@media (max-width: 576px) {
    .footer {
    padding-top: 35px;
    padding-bottom: 35px;
    }
    .youtube {
        height: 284px;
    }
    .vk {
        text-align: center;
        margin-left: 16px;
    }
    .name_autor {
        text-align: center;
    }
}

@media (max-width: 500px) {
    .youtube {
        height: 221px;
    }
    .parentTextBaner h2 {
        font-size: 33px;
    }
    .ParentGalery .fancyChild {
        width: 100%;
    }
    .slider-carousel .owl-carousel .owl-item img {
        display: block;
        margin:  0 auto;
    }
}

@media (max-width: 470px) {
    .btnBanner {
        padding: 10px 21px;
        font-size: 14px;
    }
}

@media (max-width: 400px) {
    .ranges {
        width: 256px;
    }
}