
* {
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}
img {
    max-width: 100%;
    width: auto;
    height: auto;
}

.header {
    background: #EEEFF1;
    padding-top: 57px;
}
.responsive_menu {
    display: none;
}

.nav-menu ul.sub-menu {
    display: flex;
    list-style: none;
    justify-content: center;
}
.nav-menu ul.sub-menu li a {
    margin-right: 42px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #000;
    transition: 0.3s;
}
.nav-menu ul.sub-menu li a:hover {
    color: #34547A;
    
    text-decoration: none;
}
.nav-menu ul.sub-menu li:nth-child(5) a {
    margin-right: 0;
}
.banner {
    background: #EEEFF1;
    padding-bottom: 189px;
    padding-top: 162px;
}

.banner img {
    display: block;
    margin: 0 auto;
    padding-right: 13px;
    padding-top: 42px;
}

.parentTextBaner h2 {
    font-weight: 500;
    font-size: 48px;
    line-height: 79px;
    color: #000000;
    margin-bottom: 0;
}
.parentTextBaner p {
    padding-top: 27px;
    padding-bottom: 32px;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}

.btnBanner {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.1em;
    text-decoration: none;
    color: #FFFFFF;
    background: #34547A;
    padding: 18px 41px;
    display: inline-block;
    transition: 1.5s;
    border: none;
    cursor: pointer;
}

.btnBanner:hover {
    text-decoration: none;
    color: #3369d4;
    transform: scale(1.1);
}
.parentvideo {
    padding: 57px 0px 100px 0px;
    background-color: #EEEFF1;
}

.youtube {
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: inline-block;
    overflow: hidden;
    transition: all 200ms ease-out;
    cursor: pointer;
    background-size: cover;
    width: 100%;
    height: 600px;
}
.parentvideo iframe {
    width: 100%;
    height: 600px;
}
.youtube .play {
    background: url('../img/youtube-play-btn.png') no-repeat; 
    background-position: 0 -100px;
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
    position: absolute;
    height: 100px;
    width: 100px;
    transition: none;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
}
.youtube:hover .play {
    background-position: 0 0;
}

.ParentGalery {
    display: flex;
    flex-wrap: wrap;
}
.ParentGalery .fancyChild {
    width: 25%;
    max-height: 360px;
    overflow: hidden;
    position: relative;

}
.ParentGalery .fancyChild:before {
    content: " ";
    opacity: 0;
    transition: opacity 1.3s ease;
}
.ParentGalery .fancyChild:hover:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(../img/view.png), linear-gradient(0deg, rgba(52, 84, 122, 0.8), rgba(52, 84, 122, 0.8));
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 1;
}
.about_me {
    display: flex;
    justify-content: center;
    align-items:center;
    text-align: center;
    padding-top: 117px;
    padding-bottom: 102px;
    background:#F9F9F9;
}
.about_me .about_me-text {
    max-width: 540px;
}
.about_me-text h2 {
    color: #000000;
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
    text-align: center;
    margin-bottom: 40px;
}
.about_me-text p {
    color: #727272;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
}

.my_projects {
    background-color: #34547A;
    display: flex;
    justify-content: center;
}
.my_projects-container {
    max-width: 1091px;
    padding-top: 100px;
    padding-bottom: 100px;

}
.my_projects-container-items {
    display: flex;
    justify-content: center;
}
.my_projects-container-items .item {
    max-width: 141px;
    height: 50px;
    margin-right: 49px;
}
.my_projects-container-items .item:nth-child(6) {
    margin-right: 0px;
}
.my_skills {
    display: flex;
    justify-content: center;
    background:#F9F9F9;
}
.wrapper {
    max-width: 1150px;
    padding-top: 102px;
    padding-bottom: 101px;
    display: flex;
    justify-content: center;
    padding-right: 15px;
    padding-left: 15px;
}
.my_skills-container h2 {
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
    color: #000000;
    margin-top: 69px;
}
.ranges p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}
.ranges {
    width: 445px;
    margin-right: 150px;
}
.ranges .range {
    width: 100%;
    height: 4px;
    background: #C4C4C4;
    position: relative;
}
.ranges .range::before {
    content: '';
    position: absolute;
    width: 80%;
    height: 4px;
    background: #34547A;
}
.photo_man {
    max-width: 555px;
}

.range {
    margin-bottom: 21px;
}

.work {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #EEEFF1;
    padding-top: 100px;
}
.work_text {
    max-width: 540px;
}

.work_text h2 {
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
    text-align: center;
    margin-bottom: 50px;
    color: #000000;
}
.work_text p {
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #727272;
}
.slider-carousel {
    padding-top: 72px;
    padding-bottom: 100px;
}

.slider-carousel .owl-carousel .owl-item img {
    width: auto;
}

.modal_name {
    border: 1px solid #c8c8c8;
    color: #777;
    font: 13px Helvetica, Arial, sans-serif;
    margin: 0 0 10px;
    padding: 15px 10px 15px 5px;
    width: 80%;
    text-align: center;
}
.modal_mail {
    border: 1px solid #c8c8c8;
    color: #777;
    font: 13px Helvetica, Arial, sans-serif;
    margin: 0 0 10px;
    padding: 15px 10px 15px 5px;
    width: 80%;
    text-align: center
}

.modal_area {
    border: 1px solid #c8c8c8;
    color: #777;
    font: 13px Helvetica, Arial, sans-serif;
    margin: 0 0 10px;
    padding: 15px 10px 5px 5px;
    width: 80%;
    text-align: center;
    resize: none;
}

.modal_btn {
    display: inline-block;
    width: 80%;
    margin: 0 0 10px;
    padding: 15px 10px 15px 5px;
    text-align: center;
    background: #34547A;
}

.colm {
    display: flex;
    flex-direction:column;
    align-items: center;
}
.modal_btn:hover {
    background: #18457c;
    transform: scale(1.030);
    transition: 1s;
}

.site_order {
    padding-top: 100px;
    padding-bottom: 100px;
    background: #EEEFF1;
}
.feeling_site h2 {
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
    text-align: center;
    color: #000000;
    margin-bottom: 50px;
}
.feeling_site p {
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #727272;
    margin-bottom: 65px;
}

.first {
    display: flex;
    justify-content: center;
}
.second {
    display: flex;
    justify-content: center;
}
.second input {
    background: #FFFFFF;
    width: 100%;
    border: none;
    outline: none;
    padding: 17px 0 18px 20px;
    margin-bottom: 20px;
}

.text_message {
    resize: none;
    width: 100%;
    border: none;
    outline: none;
    padding-top: 17px;
    padding-left: 20px;
    margin-bottom: 50px;
}

.btn_send {
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.15em;
    color: #FFFFFF;
    background: #34547A;
    display: inline-block;
    transition: 1.5s;
    border: none;
    cursor: pointer;
    padding: 17px 45px;
    text-transform: uppercase;
}
.btn_send:hover {
    background: #3369d4;
}

.btn_cont {
    display: flex;
    justify-content: center;
}
.footer {
    background: #34547A;
    padding-top: 50px;
    padding-bottom: 50px;
}
.name_autor h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    color: #FFFFFF;
    margin-bottom: 20px;
}
.name_autor p {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    color: #FFFFFF;
}

.footer .vk a img {
    margin-right: 21px;
}

.vk {
    text-align: right;
}

.social_vk {
    align-self: center;
    
}